body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  display: flex;
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* TYPOGRAPHY */

a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}

.hugeFont {
  font-size: 5em;
  font-weight: bold;
}

a:hover {
  color: #9e9ef2;
}

/* NAVBAR */

nav {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-logo {
  padding: 10px;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  padding-right: 50px;
  align-items: center;
  color: white;
}

/* LANDING PAGE */

.landingCat {
  position: absolute;
  top: 40%;
  left: 60%;
  height: 40vh;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.landingBG {
  position: absolute;
  z-index: -1;
}

.shootingStar {
  position: absolute;
  height: 10vh;
  top: 20%;
  right: 0;
  transform: translate(0, -50%);
  animation-name: shoot;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.landingRing {
  width: 220vw;
  height: 220vw;
  top: 85vh;
  left: -30vw;
  position: absolute;
  transform-origin: center; /* Set the rotation origin to the center of the circle */
  animation: rotate 10s linear infinite; /* Adjust duration as needed */

}

.two {
  animation: rotate 20s linear infinite; /* Adjust duration as needed */
}

main {
  flex-grow: 1;
  display: relative;
}

.homeText {
  padding: 30vh;
  color: white;
  position: relative;
  margin-bottom: -80vh;
}

.homeContent {
  padding: 15vw 15vw;
}

.rightText {
  display: flex;
  text-align: right;
  z-index: 1;
  position: relative;
  padding: 100px 0;
  margin-left: 40vh;
}

.inlineBlock {
  display: flex;
  position: relative;
  align-items: center;
}

.centeredText {
  text-align: center;
}

/* experience */
.experience-card {
  display: flex;
  margin-top: 200px;
}
.experience-card .demo-image img{
  height: 25vw;
}
.experience-card .logo img{
  height: 5vw;
}
.experience-card h2 {
  font-size: xx-large;
}
.experience-text p {
  color:grey;
}
.experience-card .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.experience-card .tag {
  background-color: #505050;
  border-radius: 6px;
  padding: 0.4em 0.8em;
  font-size: smaller;
}


.skills {
  background-color: red;
  height: 300px;
  text-align: center;
}

.origin {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.streak {
  width: 400px;
}

.room {
  padding-top: 300px;
  width: 400px;
}

footer {
  width: 100%;
  background-color: blue;
  color: red;
  text-align: center;
}

/* ANIMATIONS */

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes shoot {
  0% {
    right: 0;
  }
  10% {
    right: calc(100% - 50px);
  }
  100% {
    right: calc(
      100% - 50px
    ); /* Move the element to the right edge of the page */
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
